<template>
  <n-modal
    v-model:show="isOpen"
    :show-icon="false"
    preset="dialog"
    transform-origin="center"
    size="huge"
    :style="style"
  >
    <n-card :title="modalTitle">
      <slot></slot>
      <template #action>
        <slot name="action"></slot>
      </template>
    </n-card>
  </n-modal>
</template>

<script lang="ts">
import { computed } from "vue";
import { useStore } from "vuex";

export default {
  name: "ModalWrapper",
  props: {
    name: {},
    modalTitle: {},
    style: {
      type: Object,
    },
  },
  setup(props) {
    const store = useStore();

    const openModal = function (name: string) {
      store.dispatch("modals/open", name);
    };

    const closeModal = function (name: string) {
      store.dispatch("modals/close", name);
    };

    const isOpen = computed({
      get() {
        return store.getters["modals/allOpen"].includes(props.name);
      },
      set(newValue: boolean) {
        if (newValue === true) {
          store.dispatch("modals/open", props.name);
        } else {
          store.dispatch("modals/close", props.name);
        }
      },
    });

    return {
      openModal,
      closeModal,
      isOpen,
    };
  },
};
</script>

<style>
.n-card__action > .n-space {
  justify-content: flex-end !important;
}
</style>
