<footer>
    <div id="footer-left">
        {% with entity=doc.sender %}
        {% include "bookkeeping/templates/document/_address.html" %}
        {% endwith %}
    </div>

    <div id="footer-center">
        <i>{{ doc.sender.phone_number_formatted }}</i>
        <i>{{ doc.sender.email_address }}</i>
    </div>

    <div id="footer-right">
        <table>
            <tbody>
                {% if doc.bank_account.name %}
                <tr>
                    <td class="td-align-right">Bank:</td>
                    <td>{{ doc.bank_account.name }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td class="td-align-right">IBAN:</td>
                    <td>{{ doc.bank_account.iban_formatted }}</td>
                </tr>
                <tr>
                    <td class="td-align-right">BIC:</td>
                    <td>{{ doc.bank_account.bic }}</td>
                </tr>
                <tr>
                    {% if doc.locale == "de_DE" %}
                    <td class="td-align-right">Steuer-Nr.:</td>
                    {% elif doc.locale == "en_GB" %}
                    <td class="td-align-right">Tax no.:</td>
                    {% endif %}
                    <td>{{ doc.sender.tax_number }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</footer>
