<html>

<head>
  <meta charset="utf-8" />
  <title>{{ doc.identifier }}</title>
  <meta name="description" content="{{ doc.header }}" />
</head>

<body>
  {% include "bookkeeping/templates/document/head.html" %}

  <h3 class="document-title">{{ doc.header }}</h3>
  <p>{{ doc.greeting }}</p>
  <p>{{ doc.top_text }}</p>
  <br>
  {% include "bookkeeping/templates/document/table.html" %}

  <br>
  <p>{{ doc.bottom_text }}</p>
  {% if doc.farewell %}
  <br>
  <p>{{ doc.farewell }}</p>
  <p>{{ doc.sender.display_name }}</p>
  {% endif %}
  {% include "bookkeeping/templates/document/footer.html" %}

</body>

</html>
