<table class="body-table">
    <thead>
        <tr>
            {% if doc.locale == "de_DE" %}
            <th>Pos.</th>
            {% if doc.document_type == "in" %}
            <th>Datum</th>
            {% endif %}
            <th>Leistung</th>
            <th>Anzahl</th>
            <th>Preis</th>
            <th>Summe</th>
            {% elif doc.locale == "en_GB" %}
            <th>Pos.</th>
            {% if doc.document_type == "in" %}
            <th>Date</th>
            {% endif %}
            <th>Description</th>
            <th>Qty</th>
            <th>Unit Cost</th>
            <th>Sum</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for entry in doc.entries.order_by("date") %}
        <tr class="{% if loop.index % 2 == 1 %}odd-row{% endif %}">
            <td class="width-to-content align-right">{{ loop.index }}</td>
            {% if doc.document_type == "in" %}
            <td class="width-to-content">{{ entry.date }}</td>
            {% endif %}
            <td class="widest">{{ entry.description }}</td>
            <td class="numeric">{{ entry.unit_number | round(2) }}</td>
            <td class="currency">{{ entry.unit_price | round(2) }}</td>
            <td class="currency">{{ entry.subtotal | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table id="totals-table" class="body-table">
    <tbody>
        <tr>
            <td class="fill"></td>
            {% if doc.locale == "de_DE" %}
            <td>Summe Netto</td>
            {% elif doc.locale == "en_GB" %}
            <td>Subtotal</td>
            {% endif %}
            <td class="currency">{{ doc.total_net | round(2) }}</td>
        </tr>
        <tr>
            <td class="fill"></td>
            {% if doc.value_added_tax_percent.is_zero() %}
            {% if doc.locale == "de_DE" %}
            <td>Umsatzsteuerfreie Leistung gemäß §19 UStG</td>
            {% elif doc.locale == "en_GB" %}
            <td>0.00% sales tax according to §19 UStG</td>
            {% endif %}
            {% else %}
            {% if doc.locale == "de_DE" %}
            <td>Umsatzsteuer {{ doc.value_added_tax_percent | round(2) }}%</td>
            {% elif doc.locale == "en_GB" %}
            <td>Sales tax {{ doc.value_added_tax_percent | round(2) }}%</td>
            {% endif %}
            {% endif %}
            <td class="currency">{{ doc.tax | round(2) }}</td>
        </tr>
        <tr class="total-gross-row">
            <td class="fill"></td>
            {% if doc.locale == "de_DE" %}
            <td>Summe Brutto</td>
            {% elif doc.locale == "en_GB" %}
            <td>Total</td>
            {% endif %}
            <td class="currency">{{ doc.total_gross | round(2) }}</td>
        </tr>
    </tbody>
</table>