<template>
  <modal-wrapper :name="modalName" title="Edit Item">
    <item-form
      ref="item-form"
      :model="currentItem"
      :disableInputs="false"
      showIsPaid="true"
    />

    <template #action>
      <n-space>
        <n-button strong @click="closeModal()"> Cancel </n-button>
        <n-button strong type="primary" @click="editItem"> Save Item </n-button>
      </n-space>
    </template>
  </modal-wrapper>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useStore } from "vuex";

import ModalWrapper from "@/components/layout/ModalWrapper.vue";
import ItemForm from "@/components/invoices/ItemForm.vue";
// import Item from "@/models/items.ts";

export default defineComponent({
  name: "EditItemModal",
  components: {
    ModalWrapper,
    ItemForm,
  },
  setup() {
    const modalName = "edit-item";
    const store = useStore();

    const currentItem = computed(() => {
      return store.getters["items/current"];
    });

    const modelRef = ref(currentItem);

    const closeModal = () => {
      store.dispatch("modals/close", modalName);
    };

    const editItem = () => {
      let item = {
        id: modelRef.value.id,
        date: modelRef.value.date,
        description: modelRef.value.description,
        client: modelRef.value.client.id,
        unit_price: modelRef.value.unit_price,
        unit_number: modelRef.value.unit_number,
        is_paid: modelRef.value.is_paid,
      };
      store.dispatch("items/update", item).then(() => {
        store.dispatch("modals/close", modalName);
      });
    };

    return {
      modalName,
      closeModal,
      editItem,
      currentItem,
      model: modelRef,
      // client
      // invoice
    };
  },
});
</script>

<style scoped></style>
