<template>
  <n-form>
    <n-form-item label="ID" v-if="model.id">
      <n-input v-model:value="model.id" disabled />
    </n-form-item>

    <n-form-item label="Date">
      <n-date-picker
        v-model:formatted-value="model.date"
        value-format="yyyy-MM-dd"
        type="date"
        locale="en"
        :disabled="disableInputs"
      />
    </n-form-item>

    <n-form-item label="Description">
      <n-input
        v-model:value="model.description"
        type="textarea"
        placeholder="Description"
        :disabled="disableInputs"
      />
    </n-form-item>

    <n-form-item :show-label="false">
      <n-form inline>
        <n-form-item label="Number">
          <n-input-number
            v-model:value="model.unit_number"
            :validator="geqZeroValidator"
            :disabled="disableInputs"
          />
        </n-form-item>
        <n-form-item label="Price">
          <n-input-number
            v-model:value="model.unit_price"
            :validator="geqZeroValidator"
            :disabled="disableInputs"
          />
        </n-form-item>
        <n-form-item label="Cost">
          <n-input-number
            v-model:value="item_cost"
            :show-button="false"
            disabled
          ></n-input-number>
        </n-form-item>
      </n-form>
    </n-form-item>

    <n-form-item label="Client">
      <n-select
        v-model:value="model.client.id"
        filterable
        placeholder="Select client"
        :disabled="disableInputs"
        :options="clientOptions"
      />
    </n-form-item>

    <n-checkbox
      v-model:checked="model.is_paid"
      v-if="showIsPaid"
      :disabled="disableInputs"
      >Is paid</n-checkbox
    >
  </n-form>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  setup(props) {
    const store = useStore();

    const item_cost = computed(() => {
      return props.model.unit_price * props.model.unit_number;
    });

    const geqZeroValidator = (x) => x >= 0;

    // const showIsPaid = false;

    const clientOptions = computed(() => {
      return store.getters["addressBook/options"];
    });

    return {
      item_cost,
      geqZeroValidator,
      // showIsPaid,
      clientOptions,
    };
  },
  name: "ItemForm",
  props: ["model", "showIsPaid", "disableInputs"],
});
</script>

<style scoped></style>
