:root {
  /* --bg-colour: rgb(26, 26, 26); */
  --bg-colour: rgb(173, 173, 173);
  /* --content-bg-colour: rgb(44, 44, 44); */
  --content-bg-colour: rgb(240, 240, 240);
  /* --text-colour: rgb(255, 246, 232); */
  /* color: var(--text-colour); */
  --navbar-tab-text: rgb(238, 238, 238);
  --navbar-tab-bg: rgb(92, 92, 92);
  --navbar-tab-bg-hover: rgb(70, 70, 70);
  --navbar-tab-bg-active: rgb(48, 48, 48);
}
