<template>
  <n-config-provider :theme="darkTheme">
    <n-message-provider>
      <div id="app">
        <n-layout has-sider>
          <n-layout-sider>
            <Menu />
          </n-layout-sider>
          <n-space justify="center">
            <n-space vertical justify="center">
              <router-view />
            </n-space>
          </n-space>
        </n-layout>
      </div>
    </n-message-provider>
  </n-config-provider>
</template>

<script lang="ts">
import Menu from "./components/layout/Menu.vue";
import { darkTheme } from "naive-ui";

export default {
  name: "app",
  components: {
    Menu,
    darkTheme,
  },
  setup() {
    document.title = "Invoicing";
    return {
      darkTheme,
    };
  },
};
</script>

<style scoped>
@import "./assets/style/main.css";

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: var(--text-colour);
}

#app {
  width: 100vw;
  height: 100vh;
}

.n-layout,
.n-space {
  height: 100%;
  width: 100%;
  background-color: rgb(18, 20, 23);
}

.n-card {
  min-width: 400px;
  max-width: 66vw;
  min-height: 400px;
  max-height: 90vw;
}
</style>
