<template>
  <n-card title="Quotes">
    <template #header-extra>
      <n-button secondary type="primary" @click="console.log('new quote')">
        <template #icon>
          <n-icon size="large">
            <plus-round />
          </n-icon>
        </template>
        New Quote
      </n-button>
    </template>
    <n-data-table
      :columns="columns"
      :data="quotes"
      :style="height"
      :row-key="
        (row) => {
          return row.id;
        }
      "
      :pagination="paginationReactive"
      virtual-scroll
      flex-height
    >
    </n-data-table>
  </n-card>
</template>

<script lang="ts">
import { defineComponent, computed, h, reactive } from "vue";
import { useStore } from "vuex";
import { NButton, NButtonGroup, NIcon, NEllipsis } from "naive-ui";
import { useRouter } from "vue-router";
import {
  PlusRound,
  EditRound,
  DeleteRound,
  PersonRound,
  PersonOffRound,
} from "@vicons/material";

const createColumns = ({ setCurrentModel, router }) => {
  return [
    {
      type: "selection",
      disabled(row, index) {
        return row.is_paid;
      },
    },
    {
      title: "Identifier",
      key: "identifier",
      width: 100,
    },
    {
      title: "Date",
      key: "date",
      width: 100,
    },
    {
      title: "Client",
      width: "160px",
      render(row) {
        if (row.recipient === null) {
          return h(
            NButton,
            {
              ghost: true,
              disabled: true,
              style:
                "max-width: 120px; overflow-x: clip; text-overflow: ellipsis;",
            },
            {
              icon: () => h(NIcon, {}, () => h(PersonOffRound)),
              default: () => "None selected",
            }
            // ,
          );
        } else {
          return h(
            NButton,
            {
              type: "info",
              ghost: true,
              style: "justify-content: left; padding-left: 8px",
              onClick: () => {
                console.log("View client:", row.recipient);
              },
            },
            {
              icon: () => h(NIcon, {}, () => h(PersonRound)),
              default: () =>
                h(
                  NEllipsis,
                  { style: "max-width: 100px" },
                  () => row.recipient.display_name
                ),
            }
          );
        }
      },
    },
    // {
    //   title: "Cost",
    //   key: "invoicce_total",
    //   width: "80px",
    // },
    {
      title: "Action",
      width: "120px",
      render: (row) => {
        return h(NButtonGroup, {}, [
          h(
            NButton,
            {
              type: "warning",
              secondary: true,
              onClick: () => {
                setCurrentModel(row);
                console.log("view quote");
                router.push({
                  name: "document-detail",
                  params: { documentId: row.id },
                });
              },
            },
            { icon: () => h(NIcon, {}, () => h(EditRound)) }
          ),
          h(
            NButton,
            {
              type: "error",
              secondary: true,
              onClick: () => {
                setCurrentModel(row);
                console.log("delete quote");
              },
            },
            { icon: () => h(NIcon, {}, () => h(DeleteRound)) }
          ),
        ]);
      },
    },
  ];
};

export default defineComponent({
  components: {
    NButton,
    NEllipsis,
    NIcon,
    PlusRound,
  },
  setup() {
    const store = useStore();
    store.dispatch("quotes/fetch");

    const quotes = computed(() => {
      return store.getters["quotes/data"];
    });

    const setCurrentModel = function (row) {
      store.dispatch("quotes/set_current", row);
    };
    const paginationReactive = reactive({
      page: 1,
      pageSize: 10,
      showSizePicker: true,
      pageSizes: [10, 25, 50, 200],
      onChange: (page) => {
        paginationReactive.page = page;
      },
      onUpdatePageSize: (pageSize) => {
        paginationReactive.pageSize = pageSize;
        paginationReactive.page = 1;
      },
    });

    const router = useRouter();

    return {
      paginationReactive,
      columns: createColumns({ setCurrentModel, router }),
      quotes,
      height: {
        height: "700px",
      },
    };
  },
});
</script>
