<template>
  <modal-wrapper
    :name="modalName"
    title="Create New Entity"
    style="width: 800px"
  >
    <entity-form :model="model" :disableInputs="false" />

    <template #action>
      <n-space>
        <n-button strong @click="closeModal()"> Cancel </n-button>
        <n-button strong type="primary" @click="saveEntity">
          Save Entity
        </n-button>
      </n-space>
    </template>
  </modal-wrapper>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
import { FormInst, FormValidationError, useMessage } from "naive-ui";

import ModalWrapper from "@/components/layout/ModalWrapper.vue";
import EntityForm from "@/components/addressBook/EntityForm.vue";
// import Item from "@/models/items.ts";

export default defineComponent({
  name: "NewEntityModal",
  components: {
    ModalWrapper,
    EntityForm,
  },
  setup() {
    const modalName = "new-entity";
    const store = useStore();

    const entityInitialState = () => {
      return {
        display_name: "",
        email_address: "",
        phone_number: "",
        tax_number: "",
        address: {
          line_one: "",
          line_two: "",
          line_three: "",
          postcode: "",
          city: "",
          state: "",
          country: "",
        },
      };
    };

    const modelRef = ref(entityInitialState());

    const closeModal = () => {
      store.dispatch("modals/close", modalName);
    };

    const saveEntity = () => {
      let entity = {
        pk: "",
        display_name: modelRef.value.display_name,
        email_address: modelRef.value.email_address,
        phone_number: modelRef.value.phone_number,
        tax_number: modelRef.value.tax_number,
        address: {
          line_one: modelRef.value.address.line_one,
          line_two: modelRef.value.address.line_two,
          line_three: modelRef.value.address.line_three,
          postcode: modelRef.value.address.postcode,
          city: modelRef.value.address.city,
          state: modelRef.value.address.state,
          country: modelRef.value.address.country,
        },
      };
      store.dispatch("addressBook/create", entity).then(() => {
        store.dispatch("modals/close", modalName);
        Object.assign(modelRef.value, entityInitialState());
      });
    };
    const message = useMessage();

    return {
      closeModal,
      saveEntity,
      modalName,
      model: modelRef,
    };
  },
});
</script>

<style scoped></style>
