<template>
  <n-card title="Items">
    <template #header-extra>
      <n-button secondary type="primary" @click="openModal('new-item')">
        <template #icon>
          <n-icon size="large">
            <plus-round />
          </n-icon>
        </template>
        New Item
      </n-button>
    </template>
    <n-data-table
      :loading="itemsLoading"
      :columns="columns"
      :data="items"
      :style="style"
      :row-key="
        (row) => {
          return row.id;
        }
      "
      :pagination="paginationReactive"
      virtual-scroll
      flex-height
    >
    </n-data-table>
    <EditItemModal />
    <DeleteItemModal />
    <NewItemModal />
  </n-card>
</template>

<script lang="ts">
import { defineComponent, computed, h, ref, reactive } from "vue";
import { useStore } from "vuex";
import { NButton, NButtonGroup, NIcon, NEllipsis } from "naive-ui";
import {
  PlusRound,
  EditRound,
  DeleteRound,
  PersonRound,
  PersonOffRound,
} from "@vicons/material";

import NewItemModal from "@/components/invoices/NewItemModal.vue";
import EditItemModal from "@/components/invoices/EditItemModal.vue";
import DeleteItemModal from "@/components/invoices/DeleteItemModal.vue";

const createColumns = ({ openModal, setCurrentModel }) => {
  return [
    {
      type: "selection",
      disabled(row, index) {
        return row.is_paid;
      },
    },
    {
      title: "Date",
      key: "date",
      width: 100,
    },
    {
      title: "Client",
      width: "160px",
      render(row) {
        console.log(row);
        if (row.client.id === null) {
          return h(
            NButton,
            {
              ghost: true,
              disabled: true,
              style: "justify-content: left; padding-left: 8px",
            },
            {
              icon: () => h(NIcon, {}, () => h(PersonOffRound)),
              default: () => "None selected",
            }
            // ,
          );
        } else {
          return h(
            NButton,
            {
              type: "info",
              ghost: true,
              style: "justify-content: left; padding-left: 8px",
              onClick: () => {
                console.log("View client:", row.client);
              },
            },
            {
              icon: () => h(NIcon, {}, () => h(PersonRound)),
              default: () =>
                h(
                  NEllipsis,
                  { style: "max-width: 100px" },
                  () => row.client.display_name
                ),
            }
          );
        }
      },
    },
    {
      title: "Description",
      key: "description",
      style: "text-wrap: ",
    },
    {
      title: "Count",
      key: "unit_number",
      width: "80px",
    },
    {
      title: "Price",
      key: "unit_price",
      width: "80px",
    },
    {
      title: "Action",
      width: "120px",
      render: (row) => {
        return h(NButtonGroup, {}, [
          h(
            NButton,
            {
              type: "warning",
              secondary: true,
              onClick: () => {
                setCurrentModel(row);
                openModal("edit-item");
              },
            },
            { icon: () => h(NIcon, {}, () => h(EditRound)) }
          ),
          h(
            NButton,
            {
              type: "error",
              secondary: true,
              onClick: () => {
                setCurrentModel(row);
                openModal("delete-item");
              },
            },
            { icon: () => h(NIcon, {}, () => h(DeleteRound)) }
          ),
        ]);
      },
    },
  ];
};

export default defineComponent({
  components: {
    NButton,
    NEllipsis,
    NIcon,
    PlusRound,
    NewItemModal,
    EditItemModal,
    DeleteItemModal,
  },
  setup() {
    const itemsLoading = ref(false);

    const store = useStore();
    store.dispatch("items/fetch");
    store.dispatch("addressBook/fetch");

    const openModal = function (name: string) {
      store.dispatch("modals/open", name);
    };
    const setCurrentModel = function (row) {
      store.dispatch("items/set_current", row);
    };
    const items = computed(() => {
      return store.getters["items/data"];
    });
    const entities = computed(() => {
      return store.getters["addressBook/data"];
    });

    const paginationReactive = reactive({
      page: 1,
      pageSize: 10,
      showSizePicker: true,
      pageSizes: [10, 25, 50, 200],
      onChange: (page) => {
        paginationReactive.page = page;
      },
      onUpdatePageSize: (pageSize) => {
        paginationReactive.pageSize = pageSize;
        paginationReactive.page = 1;
      },
    });

    return {
      openModal,
      paginationReactive,
      columns: createColumns({ openModal, setCurrentModel }),
      items: items,
      style: {
        height: "700px",
      },
      itemsLoading,
    };
  },
});
</script>

<style scoped>
.n-card {
  min-width: 900px;
  max-width: 1200px;
  overflow: auto;
}
</style>
